:root {
    --text-color: rgb(230, 139, 19);
    --bg-color: rgb(255, 255, 255);
    --accent-color: rgb(255, 0, 255);
    --title-font: "totalblack-variable", sans-serif;
    --body-font: "geologica-variable", sans-serif;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}
main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
p {
max-width: 60ch;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-variation-settings: 'wght' 100, 'CRSV' 0, 'SHRP' 0, 'slnt' 0;
    font-size: 1.4rem;
}


a {
    color: inherit;
}
h1, h2, h3 {
    color: var(--text-color);
    font-family: var(--title-font);
}
h1 {
    font-size: 4em;
    font-variation-settings: "wght" 1000;
    margin: 0.5em 0;
    color: var(--accent-color);
}

h2 {
    font-size: 3em;
    margin: 0.5em 0;
    font-variation-settings: 'wght' 623, 'CRSV' 0, 'SHRP' 100, 'slnt' -12;
}
h3 {
    font-size: 2em;
    margin: 0.5em 0;
    font-variation-settings: 'wght' 623, 'CRSV' 0, 'SHRP' 100, 'slnt' -12;
}
footer {
    text-align: center;
    padding: 1em 0;
    background: var(--accent-color);
    color: var(--bg-color);
    font-family: var(--body-font);
    font-variation-settings: 'wght' 100, 'CRSV' 0, 'SHRP' 0, 'slnt' 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    font-variation-settings: 'wght' 100, 'CRSV' 0, 'SHRP' 0, 'slnt' 0;


}

a:hover {
    text-decoration: underline;
    font-variation-settings: 'wght' 250, 'CRSV' 1, 'SHRP' 100, 'slnt' -7;
}
